body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(180deg, #181818, #353535);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #202020;
  padding: 40px 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h1 {
  margin: 0;
  font-size: 2.3rem;
  color: #ffd500;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

.bloque {
  background: #2c2c2c;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin-bottom: 30px;
}

pre {
  background: #1a1a1a;
  color: #00ffae;
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto;
  font-family: monospace;
}

ul, ol {
  padding-left: 25px;
}

li {
  margin-bottom: 8px;
}

code {
  background: #3b3b3b;
  padding: 2px 5px;
  border-radius: 4px;
  color: #ffd500;
}

.boton {
  display: inline-block;
  padding: 14px 22px;
  background: #ffd500;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.boton:hover {
  background: #ffbb00;
}
