body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(180deg, #202020, #3a3a3a);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #282828;
  padding: 40px 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h1 {
  margin: 0;
  font-size: 2.2rem;
  color: #00b7ff;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

.bloque {
  background: #2e2e2e;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin-bottom: 30px;
}

pre {
  background: #1a1a1a;
  color: #00ffae;
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto;
  font-family: monospace;
}

ul {
  padding-left: 25px;
}

li {
  margin-bottom: 8px;
}

code {
  background: #3b3b3b;
  padding: 2px 5px;
  border-radius: 4px;
  color: #00ffae;
}

.boton {
  display: inline-block;
  padding: 14px 22px;
  background: #00b7ff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.boton:hover {
  background: #0096d6;
}
